<div class="row">
  <div class="small-3 columns"></div>
  <h1>
    <img src="http://placehold.it/400x100&text=LucidRent" alt="Lucid Rent logo" class="logo">
  </h1>
  <div class="small-9 columns">
    <ul class="right button-group">
      <li><a class="button" href="">Main</a></li>
      <li><a class="button" href="">Add Housing</a></li>
      <li><a class="button" href="">Listings</a></li>
      <li><a class="button" href="">Sign Up</a></li>
      <li><a class="button" href="">Log In</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h1>Lucid Rent</h1>
    <h3>Where do you want to live today?</h3>
  </div>
</div>
<div class="row">
  <div class="small-4 columns"></div>
  <div class="small-4 columns"></div>
  <div class="small-4 columns"></div>
</div>
