<div class="row">
  <div class="small-3 columns">
    <h1>
      <img src="http://placehold.it/400x100&text=LucidRent" alt="Lucid Rent logo" class="logo">
    </h1>
  </div>
  <div class="small-9 columns">
    <ul class="right button-group">
      <li><a class="button" href="">Main</a></li>
      <li><a class="button" href="">Add Housing</a></li>
      <li><a class="button" href="">Listings</a></li>
      <li><a class="button" href="">Sign Up</a></li>
      <li><a class="button" href="">Log In</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h1>Lucid Rent</h1>
    <h3>Where do you want to live today?</h3>
    <div class="row collapse">
      <div class="small-10 columns">
        <input type="text" placeholder="Search query">
      </div>
      <div class="small-2 columns">
        <a href="#" class="button postfix">Search</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <img src="http://placehold.it/400x300&text=Amsterdam" alt="Listing 1" class="listing">
    <h4>Amsterdam</h4>
    <h5>1000 €</h5>
  </div>
  <div class="small-4 columns">
    <img src="http://placehold.it/400x300&text=Rotterdam" alt="Listing 2" class="listing">
    <h4>Rotterdam</h4>
    <h5>750 €</h5>
  </div>
  <div class="small-4 columns">
    <img src="http://placehold.it/400x300&text=Utrecht" alt="Listing 3" class="listing">
    <h4>Utrecht</h4>
    <h5>500 €</h5>
  </div>
</div>
